<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperText</key>
				<string>Yoga Private Tutor</string>
				<key>IndicatorColor</key>
				<string>008AFF</string>
				<key>IndicatorImage</key>
				<string>CardIndicator1</string>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Venue Rent</string>
				<key>IndicatorImage</key>
				<string>CardIndicator2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>2</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperKeys</key>
				<array>
					<string>Beijing</string>
					<string>Shanghai</string>
				</array>
				<key>IndicatorImage</key>
				<string>CardIndicator8</string>
				<key>IndicatorColor</key>
				<string>FFDE00</string>
				<key>HyperText</key>
				<string>Beijing [飞机] Shanghai</string>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Hotel In Shanghai</string>
				<key>IndicatorColor</key>
				<string>C7CED2</string>
				<key>IndicatorImage</key>
				<string>CardIndicator9</string>
				<key>HyperKeys</key>
				<array>
					<string>Shanghai</string>
				</array>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Shuttled Tranportation</string>
				<key>IndicatorImage</key>
				<string>CardIndicator10</string>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Pet Care In Beijing</string>
				<key>IndicatorColor</key>
				<string>C7CED2</string>
				<key>IndicatorImage</key>
				<string>CardIndicator11</string>
				<key>HyperKeys</key>
				<array>
					<string>Beijing</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>IndicatorImage</key>
				<string>CardIndicator3</string>
				<key>HyperText</key>
				<string>Private Shuttle Transporation</string>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Parent-Child Pottery Class </string>
				<key>IndicatorImage</key>
				<string>CardIndicator4</string>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Music Class For Kid</string>
				<key>IndicatorImage</key>
				<string>CardIndicator5</string>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>IndicatorImage</key>
				<string>CardIndicator12</string>
				<key>HyperText</key>
				<string>Tennis Court</string>
			</dict>
			<dict>
				<key>HyperText</key>
				<string>Training Partner</string>
				<key>IndicatorImage</key>
				<string>CardIndicator13</string>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperText</key>
				<string>Taxi to Peninsula Dentistry</string>
				<key>IndicatorImage</key>
				<string>CardIndicator14</string>
				<key>IndicatorColor</key>
				<string>008AFF</string>
				<key>HyperKeys</key>
				<array>
					<string>Peninsula Dentistry</string>
				</array>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>2</integer>
        <key>is_comp_service</key>
        <integer>0</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
    
    <dict>
        <key>service_cells</key>
        <array>
            <dict>
                <key>IndicatorImage</key>
                <string>CardIndicator12</string>
                <key>HyperText</key>
                <string>Tennis Court</string>
            </dict>
            <dict>
                <key>HyperText</key>
                <string>Training Partner</string>
                <key>IndicatorImage</key>
                <string>CardIndicator13</string>
            </dict>
        </array>
        <key>service_id</key>
        <string>1</string>
        <key>service_name</key>
        <string>My Yoga Club</string>
        <key>service_total_cost</key>
        <string>209</string>
        <key>service_order_mount</key>
        <integer>5</integer>
        <key>service_source</key>
        <string>Service Collage</string>
        <key>service_price</key>
        <string>$49.99</string>
        <key>service_flag</key>
        <integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
        <key>service_items</key>
        <array>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>service_cells</key>
        <array>
            <dict>
                <key>IndicatorImage</key>
                <string>CardIndicator12</string>
                <key>HyperText</key>
                <string>Tennis Court</string>
            </dict>
            <dict>
                <key>HyperText</key>
                <string>Training Partner</string>
                <key>IndicatorImage</key>
                <string>CardIndicator13</string>
            </dict>
        </array>
        <key>service_id</key>
        <string>1</string>
        <key>service_name</key>
        <string>My Yoga Club</string>
        <key>service_total_cost</key>
        <string>209</string>
        <key>service_order_mount</key>
        <integer>5</integer>
        <key>service_source</key>
        <string>Service Collage</string>
        <key>service_price</key>
        <string>$49.99</string>
        <key>service_flag</key>
        <integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
        <key>service_items</key>
        <array>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>service_cells</key>
        <array>
            <dict>
                <key>IndicatorImage</key>
                <string>CardIndicator12</string>
                <key>HyperText</key>
                <string>Tennis Court</string>
            </dict>
            <dict>
                <key>HyperText</key>
                <string>Training Partner</string>
                <key>IndicatorImage</key>
                <string>CardIndicator13</string>
            </dict>
        </array>
        <key>service_id</key>
        <string>1</string>
        <key>service_name</key>
        <string>My Yoga Club</string>
        <key>service_total_cost</key>
        <string>209</string>
        <key>service_order_mount</key>
        <integer>5</integer>
        <key>service_source</key>
        <string>Service Collage</string>
        <key>service_price</key>
        <string>$49.99</string>
        <key>service_flag</key>
        <integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
        <key>service_items</key>
        <array>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>service_cells</key>
        <array>
            <dict>
                <key>IndicatorImage</key>
                <string>CardIndicator12</string>
                <key>HyperText</key>
                <string>Tennis Court</string>
            </dict>
            <dict>
                <key>HyperText</key>
                <string>Training Partner</string>
                <key>IndicatorImage</key>
                <string>CardIndicator13</string>
            </dict>
        </array>
        <key>service_id</key>
        <string>1</string>
        <key>service_name</key>
        <string>My Yoga Club</string>
        <key>service_total_cost</key>
        <string>209</string>
        <key>service_order_mount</key>
        <integer>5</integer>
        <key>service_source</key>
        <string>Service Collage</string>
        <key>service_price</key>
        <string>$49.99</string>
        <key>service_flag</key>
        <integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
        <key>service_items</key>
        <array>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>service_cells</key>
        <array>
            <dict>
                <key>IndicatorImage</key>
                <string>CardIndicator12</string>
                <key>HyperText</key>
                <string>Tennis Court</string>
            </dict>
            <dict>
                <key>HyperText</key>
                <string>Training Partner</string>
                <key>IndicatorImage</key>
                <string>CardIndicator13</string>
            </dict>
        </array>
        <key>service_id</key>
        <string>1</string>
        <key>service_name</key>
        <string>My Yoga Club</string>
        <key>service_total_cost</key>
        <string>209</string>
        <key>service_order_mount</key>
        <integer>5</integer>
        <key>service_source</key>
        <string>Service Collage</string>
        <key>service_price</key>
        <string>$49.99</string>
        <key>service_flag</key>
        <integer>-1</integer>
        <key>is_comp_service</key>
        <integer>1</integer>
        <key>service_items</key>
        <array>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
            <dict>
                <key>status</key>
                <string>1</string>
                <key>service_content</key>
                <string>Yoga xx Yoga</string>
                <key>provider_portrait_url</key>
                <string>1</string>
            </dict>
        </array>
    </dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperText</key>
				<string>Taxi to Peninsula Dentistry</string>
				<key>IndicatorImage</key>
				<string>CardIndicator14</string>
				<key>IndicatorColor</key>
				<string>008AFF</string>
				<key>HyperKeys</key>
				<array>
					<string>Peninsula Dentistry</string>
				</array>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>2</integer>
        <key>is_comp_service</key>
        <integer>0</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperText</key>
				<string>Taxi to Peninsula Dentistry</string>
				<key>IndicatorImage</key>
				<string>CardIndicator14</string>
				<key>IndicatorColor</key>
				<string>008AFF</string>
				<key>HyperKeys</key>
				<array>
					<string>Peninsula Dentistry</string>
				</array>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>2</integer>
        <key>is_comp_service</key>
        <integer>0</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperText</key>
				<string>Taxi to Peninsula Dentistry</string>
				<key>IndicatorImage</key>
				<string>CardIndicator14</string>
				<key>IndicatorColor</key>
				<string>008AFF</string>
				<key>HyperKeys</key>
				<array>
					<string>Peninsula Dentistry</string>
				</array>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>2</integer>
        <key>is_comp_service</key>
        <integer>0</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>service_cells</key>
		<array>
			<dict>
				<key>HyperText</key>
				<string>Taxi to Peninsula Dentistry</string>
				<key>IndicatorImage</key>
				<string>CardIndicator14</string>
				<key>IndicatorColor</key>
				<string>008AFF</string>
				<key>HyperKeys</key>
				<array>
					<string>Peninsula Dentistry</string>
				</array>
			</dict>
		</array>
		<key>service_id</key>
		<string>1</string>
		<key>service_name</key>
		<string>My Yoga Club</string>
		<key>service_total_cost</key>
		<string>209</string>
		<key>service_order_mount</key>
		<integer>5</integer>
		<key>service_source</key>
		<string>Service Collage</string>
		<key>service_price</key>
		<string>$49.99</string>
		<key>service_flag</key>
		<integer>2</integer>
        <key>is_comp_service</key>
        <integer>0</integer>
		<key>service_items</key>
		<array>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
			<dict>
				<key>status</key>
				<string>1</string>
				<key>service_content</key>
				<string>Yoga xx Yoga</string>
				<key>provider_portrait_url</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
